.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:4rem 2rem;
    background-color: rgb(245, 245, 245);
    flex-wrap: wrap;
}
.leftcontact{
display: flex;
flex-direction: column;
gap: 2.2rem;
flex-wrap: wrap;


}

.leftcontact>span{
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    
}

.rightcontact>img{
    width: 50vw;
}






.herobtn{
    padding: 0.8rem 1.2rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
align-items: center;
display: flex;
width: fit-content;
align-items: center;
justify-content: center;
background-color: none;

}
.herobtn>span{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0.5rem 0.8rem;
    font-size: 1.4rem;


}
.herobtn>span:hover{
    background-color: teal;

}

/* contatact form  */


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  



}
.form>span{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px ;

}
.form>form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    width: 45vw;
    border: none;

}
.form>form>input,textarea{
    border: none;
    background-color: rgb(230, 230, 230);
    padding: 0.8rem;
    font-size: 1.2rem;
}
textarea{
    font-family:Arial, Helvetica, sans-serif;
}
.form>form>button{
    background-color: white;

}


.map{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mapouter{position:relative;
    text-align:right;
    width:90vw;
    height:500px;
}
    .gmap_canvas {overflow:hidden;
        background:none!important;
        width:90vw;
        height:600px;
    }
    .gmap_iframe {width:90vw!important;
        height:400px!important;}

/* Contatc form end  */


@media screen and (max-width:1180px) {
    .rightcontact>img {
        width: 35vw;
    }
    .leftcontact>span {
        font-size: 2.5rem;
    }

    .form>form{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 65vw;
        border: none;
    
    }
}
@media screen and (max-width:880px) {
    .rightcontact>img {
        width: 40vw;
    }
    .leftcontact>span {
        font-size: 1.8rem;
        flex-shrink: 0;
    }
    .contact{
        padding: 5rem 1rem;
        gap: 1rem;
    }
}

@media screen and (max-width:640px) {
    .rightcontact>img {
        width: 40vw;
    }
    .leftcontact>span {
        font-size: 1.2rem;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
    .contact{
        padding: 4rem 1rem;
        gap: 1rem;
    }
    .form>form{
       
        width: 85vw;
    
    }
}

@media screen and (max-width:550px) {
    .rightcontact>img {
        width: 45vw;
    }
    .leftcontact>span {
        font-size: 1rem;
      
    }
    .contact{
        padding: 3rem 1rem;
        gap: 1rem;
    }
    .herobtn{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .form>form>input,textarea{
       
        font-size: 1rem;
    }
    .form>span{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:430px) {
    .rightcontact>img {
        width: 35vw;
    }
    .leftcontact>span {
        font-size: 0.8rem;
      
    }
  
    
}

@media screen and (max-width:310px) {
    
    
    .contact{
        padding: 20px 10px;
    }.rightcontact>img {
        width: 35vw;
    }
    .leftcontact>span {
        font-size: 0.rem;
      
    }
    .herobtn{
        font-size: 0.5rem;
    }
  
}